layout {
	tab name="develop" {
	    pane size=1 borderless=true {
		plugin location="tab-bar"
	    }
	    pane
	    pane size=1 borderless=true {
		plugin location="status-bar"
	    }
	}
	tab name="server" {
	    pane size=1 borderless=true {
		plugin location="tab-bar"
	    }
	    pane
	    pane size=1 borderless=true {
		plugin location="status-bar"
	    }
	}
}
